$black: #111111;
$dark-grey: #333333;
$light-grey: #BBBBBB;
$dark-gray: $dark-grey;
$light-gray: $light-grey;
$blue: #ADCCE9;
$primary: #F1C630;
$white: #FFFFFF;


$medium: 768px;
$large: 992px;
$xxl: 1400px;


$font: "Open Sans", sans-serif;